@import url('https://fonts.googleapis.com/css?family=Nunito');

* {
    font-family: 'Nunito', sans-serif;
}

body {
    background-color: #007bb8;
}

#mainContainer {
    width: 90%;
    margin: 0 5%;
}

.mainContainerInfo {
    width: 90%;
    margin: 0 5%;
    padding: 2.5% 0 2.5% 0;
    background-color: white;
}

h1 {
    font-size: 3em;
    display: flex;
    justify-content: space-evenly;
}

a {
    color: white;
    font-size: 1em;
    text-decoration: none;
    /* Fill nav bar link */
    padding: .25em 1em;
    border-radius: .5em;
}

a:hover {
    background-color: #03a0c3;
}

.aInfo {
    color: #007bb8;
}

.aInfo:hover {
    color: white;
}

.inText {
    color: #007bb8;
    padding: 0;
    border-radius: 0;
    text-decoration: underline;
}

.inText:hover {
    background-color: white;
    color: #ff6501;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

/* Bubble animation modified from Mark Bowley on CodePen
    https://codepen.io/Mark_Bowley/pen/mEtqj
*/

/*.bubbleContainer {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}

 KEYFRAMES
@keyframes animateBubble {
    0% {
        margin-top: 1000px;
    }

    100% {
        margin-top: -500px;
        display: none;
    }

}

@keyframes sideWays {
    0% {
        margin-left: 0px;
    }

    100% {
        margin-left: 50px;
    }
}

.bubble {
    position: absolute;
    background-color: #03a0c3;
    border: 2px solid white;
    opacity: .7;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;


    animation: animateBubble 5s linear infinite, 2s ease-in-out infinite alternate;


    transform: scale(0.6);

    animation-iteration-count: 1;
}

#bubble0,
#bubble1,
#bubble2,
#bubble3,
#bubble4,
#bubble5 {
    left: 0;
    top: -100%;
}*/

#particlesJS {
    position: absolute;
    width: 100%;
    height: 100%;
}



article {
    width: 80%;
    margin: 0 10%;
    padding: 1em 0;
}

#textIndent {
    padding-left: 20px;
}
